<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="login">
        <form method="post">
            <h1>Sign_up Page</h1><br><br>
            <label>Enter your Username:</label><br><br>
            <input type="text" name="username" placeholder="Username"><br><br>

            <label>Enter your Password:</label><br><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <hr><br><br>

            <h3>Students Details..</h3>
            <label>Your Name:</label><br><br>
            <input type="text" name="name" placeholder="Name"><br><br>
            <label>Your Age:</label><br><br>
            <input type="number" name="age" placeholder="Age"><br><br>
            <label>Your Roll_No:</label><br><br>
            <input type="number" name="rollno" placeholder="Roll_no"><br><br>
            <label>Your Place:</label><br><br>
            <input type="text" name="place" placeholder="Place"><br><br>
            <input type="submit" value="submit"><br><br>

        </form>


    </div>
</body>

</html>